{% extends 'base.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}
<div class="container" style="background-color: rgba(200, 200, 200, 0.8)">

    <h1>Edit Page</h1>

    {{ include('page/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('blog_show', {'id': page.blog.id}) }}">back to list</a>

    {{ include('page/_delete_form.html.twig') }}

</div>
{% endblock %}
