div.container.float-right {
    text-align: center;
}


.vignette {
    text-align: center;
}

.jumbotron {
    margin-top: 2%;
    background-image: url("/image/bandeau.jpg");
    background-size: cover;
    width: 100%;
}