body {
    margin:0;
    padding:0;
    background: url("../image/journal.jpg") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}
.bg-primary{
    background-color: white !important;
}
.bg-warning{
    background-color: white !important;
}
.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{
    border:1px solid #999999;
    text-align:center;
    margin-bottom:28px;
    padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{
    color:#3c3c3c;
    font-size:24px;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
}
.practice-area .inner p{
    font-size:14px;
    line-height:22px;
    font-weight:400;
}
.practice-area .inner img{
    display:inline-block;
}


/*.our-webcoderskull{
    background: url() no-repeat center top / cover;

}*/
.our-webcoderskull .cnt-block{
    float:left;
    width:100%;
    background:#fff;
    padding:30px 20px;
    text-align:center;
    border:2px solid #d5d5d5;
    margin: 0 0 28px;
}

.our-webcoderskull .cnt-block figure{
    width:148px;
    height:148px;
    border-radius:100%;
    display:inline-block;
    margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{
    width:148px;
    height:148px;
    border-radius:100%;
}
.our-webcoderskull .cnt-block h3{
    color:#2a2a2a;
    font-size:20px;
    font-weight:500;
    padding:6px 0;
    text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
    text-decoration:none;
    color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
    color:#337ab7;
}
.our-webcoderskull .cnt-block p{
    color:#2a2a2a;
    font-size:13px;
    line-height:20px;
    font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
    margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{
    display:inline-block;
    width:auto;
    margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{
    font-size:24px;
    color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{
    color:#025a8e;
}

a:hover{
    text-decoration:none;
}

.bottom {
    background-color: #403131;

    margin: -1px;
    padding: 2px;

}

.bottom.footer {
    width: 100%;
    bottom: 0;
    /*margin-top: 550px;*/
    position: fixed;

}

.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #f2ff49;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #d1caca;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #6c6d83;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

}