{% extends 'base.html.twig' %}

{% block title %}Page contact{% endblock %}

{% block body %}

    <section class="our-webcoderskull padding-lg">
        <div class="container">
            <div class="row heading heading-icon">
                <h2>L'Équipe</h2>
            </div>
            <ul class="row">
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                        <h5>Anis.</h5>
                        <p>Freelance Web Developer</p>
                        <ul class="follow-us clearfix">

                        </ul>
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
                        <h5>Willy.</h5>
                        <p>Freelance Web Developer</p>
                        <ul class="follow-us clearfix">

                        </ul>
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                        <h5>Taoufik.</h5>
                        <p>Freelance Web Developer</p>

                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
                        <h5>Olivier.</h5>
                        <p>Freelance Web Developer</p>
                    </div>

                </li>
            </ul>

        </div>
        <div class="container"style="color: white;text-align: -webkit-center;>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Fancy Toggle Sidebar Navigation</h1>
                    <p>Bacon ipsum dolor sit amet tri-tip shoulder tenderloin shankle. Bresaola tail pancetta ball tip
                        doner meatloaf corned beef. Kevin pastrami tri-tip prosciutto ham hock pork belly bacon pork
                        loin salami pork chop shank corned beef tenderloin meatball cow. Pork bresaola meatloaf tongue,
                        landjaeger tail andouille strip steak tenderloin sausage chicken tri-tip. Pastrami tri-tip
                        kielbasa sausage porchetta pig sirloin boudin rump meatball andouille chuck tenderloin biltong
                        shank </p>

                    <p>Pig meatloaf bresaola, spare ribs venison short loin rump pork loin drumstick jowl meatball
                        brisket. Landjaeger chicken fatback pork loin doner sirloin cow short ribs hamburger shoulder
                        salami pastrami. Pork swine beef ribs t-bone flank filet mignon, ground round tongue. Tri-tip
                        cow turducken shank beef shoulder bresaola tongue flank leberkas ball tip.</p>


                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}