{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/style_contact.css') }}">

    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" >
{% endblock %}

{% block title %}Page contact{% endblock %}

{% block body %}
<div class="container col-8">
    <!-- Team -->
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1"></h5>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://media.licdn.com/dms/image/C4D03AQHgGLdQVSejJQ/profile-displayphoto-shrink_800_800/0?e=1564012800&v=beta&t=fOcA--51mkDfuWYbYnk_-0R7yBNVGxmLSBGrMuFH_A0" alt="card image"></p>
                                        <h4 class="card-title"></h4>
                                        <p class="card-text">Développeur fullstack chez JEHANN.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title"> Willy MEKSAVANH </h4>
                                        <p class="card-text"> Après avoir obtenu mon diplôme en arts graphiques en apprentissage avec l'agence de communication French Lab Agency, j'ai naturellement continuer pendant un temps en tant que freelance graphiste.
                                            Aujourd'hui désireux d'acquerir de nouvelles compétences et ainsi compléter mes outils, je suis en formation de développeur fullstack.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <!--<a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fab fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/feed/">
                                                    <i class="fa fa-envelope"></i>

                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i> --!>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://media.licdn.com/dms/image/C5603AQF2_E-hp-s53g/profile-displayphoto-shrink_800_800/0?e=1564012800&v=beta&t=HkrtE5-EvV3ck5BJ-QVDlEoQGx4CubzPOdoQCpa_6Lw" alt="card image"></p>
                                        <h4 class="card-title"></h4>
                                        <p class="card-text">Développeur fullstack chez JEHANN.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title"> Taoufik Taourirt </h4>
                                        <p class="card-text"> Après avoir obtenu mon diplôme en arts graphiques en apprentissage avec l'agence de communication French Lab Agency, j'ai naturellement continuer pendant un temps en tant que freelance graphiste.
                                            Aujourd'hui désireux d'acquerir de nouvelles compétences et ainsi compléter mes outils, je suis en formation de développeur fullstack.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                    <!--  <i class="fa fa-facebook"></i>
                                                 </a>
                                             </li>

                                             <li class="list-inline-item">
                                                 <a class="social-icon text-xs-center" target="_blank" href="#">
                                                     <i class="fa fa-twitter"></i>
                                                 </a>
                                             </li>
                                             <li class="list-inline-item">
                                                 <a class="social-icon text-xs-center" target="_blank" href="#">
                                                     <i class="fa fa-skype"></i>
                                                 </a>
                                             </li>
                                             <li class="list-inline-item">
                                                 <a class="social-icon text-xs-center" target="_blank" href="#">
                                                     <i class="fa fa-google"></i> !-->
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://media.licdn.com/dms/image/C4E03AQHbam60QENVzg/profile-displayphoto-shrink_200_200/0?e=1564012800&v=beta&t=Gx8G7hAC2or-Z1qBRNpPLyMDqGXLSdfbLbIEJhdVapo" alt="card image"></p>
                                        <h4 class="card-title"></h4>
                                        <p class="card-text">Développeur fullstack.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title"> ANIS IDRENMOUCHE </h4>
                                        <p class="card-text"> Développeur full stack, actuellement en formation chez Dawan afin d'approfondir mes connaissances et d'assimiler des nouvelles.

                                            Votre</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                    <!--    <i class="fa fa-facebook"></i>
                                                   </a>
                                               </li>
                                               <li class="list-inline-item">
                                                   <a class="social-icon text-xs-center" target="_blank" href="#">
                                                       <i class="fa fa-twitter"></i>
                                                   </a>
                                               </li>
                                               <li class="list-inline-item">
                                                   <a class="social-icon text-xs-center" target="_blank" href="#">
                                                       <i class="fa fa-skype"></i>
                                                   </a>
                                               </li>
                                               <li class="list-inline-item">
                                                   <a class="social-icon text-xs-center" target="_blank" href="#">
                                                       <i class="fa fa-google"></i> --!>
                                                   </a>
                                               </li>
                                           </ul>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://media.licdn.com/dms/image/C5603AQHDNG3OgUZR2w/profile-displayphoto-shrink_800_800/0?e=1564012800&v=beta&t=BZS54b1ClvozO0F_JeUlWGP8M3GrZuUbSIaquZKwpKU" alt="card image"></p>
                                        <h4 class="card-title"></h4>
                                        <p class="card-text">Développeur fullstack chez JEHANN.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title"> Olivier Himmer </h4>
                                        <p class="card-text"> Après avoir obtenu mon diplôme en arts graphiques en apprentissage avec l'agence de communication French Lab Agency, j'ai naturellement continuer pendant un temps en tant que freelance graphiste.
                                            Aujourd'hui désireux d'acquerir de nouvelles compétences et ainsi compléter mes outils, je suis en formation de développeur fullstack.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                               <!--     <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i> !-->
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  </div>
                     </div>
                       </section>
</div>
{% endblock %}