{% extends 'base.html.twig' %}

{% block title %}Page contact{% endblock %}

{% block body %}

    <div class="container" style="background-color: rgba(200, 200, 200, 0.8)">
        <div class="row">
            <div class="col-md-12 bg-primary">

            </div>
            <div class="col-md-4">
                <h2>OLIVIER</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deserunt, dolore fuga nesciunt quam
                    voluptatibus? Aspernatur blanditiis consectetur cumque doloribus, et illum minima natus neque
                    possimus quos reprehenderit ut vero!</p>
            </div>
            <div class="col-md-4">
                <h2>ANIS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam cupiditate excepturi
                    ipsam obcaecati officia quo sit ut voluptas. Deleniti dolorem facilis, magni nostrum numquam sed
                    suscipit ullam vel voluptates.</p>
            </div>
            <div class="col-md-4">
                <h2>WILLY</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum hic libero modi, natus placeat
                    repellendus sunt. Accusantium atque dicta iusto minima neque possimus, sequi tenetur vero voluptate.
                    Esse, hic, nulla!</p>
            </div>

        </div>
    </div>

{% endblock %}