{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}
    <h1>Page</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ page.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ page.title }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ page.content }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('blog_show', {'id': page.blog.id}) }}">back to list</a>           <!-- On retourne au blog de la page -->


{% endblock %}