    <div style="background-color: #218BC3;">
        {% if person is not null %}
         <img style="width: 50px; text-align: right;" src="{{ asset('uploads/photos/' ~ person.image) }}" alt=""/>

         <a style="color: white; margin-right: 5px;">{{ person.FirstName }}</a>
        {% endif %}
    </div>
