{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/style_contact.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% endblock %}

{% block title %}Page contact{% endblock %}

{% block body %}

    <section class="our-webcoderskull padding-lg">
        <div class="container">
            <div class="row heading heading-icon">
                <h2> Qui Nous Sommes  </h2>
            </div>
            <ul class="row">
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px; border: aliceblue;">
                        <figure><a href="https://www.linkedin.com/in/anis-idrenmouche-5a84b2183/"><img src="https://media.licdn.com/dms/image/C4E03AQHbam60QENVzg/profile-displayphoto-shrink_200_200/0?e=1564012800&v=beta&t=Gx8G7hAC2or-Z1qBRNpPLyMDqGXLSdfbLbIEJhdVapo" class="img-responsive" alt=""></figure>
                        <br><br>
                        <h5>Anis Idrenmouche</h5>
                        <a>Recherche YODA pour un Bachelor Alternance</a>

                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px; border: aliceblue;">
                        <figure><a href=https://www.linkedin.com/in/taoufik-taourirt-991664109/"><img src="https://media.licdn.com/dms/image/C5603AQF2_E-hp-s53g/profile-displayphoto-shrink_800_800/0?e=1564012800&v=beta&t=HkrtE5-EvV3ck5BJ-QVDlEoQGx4CubzPOdoQCpa_6Lw" class="img-responsive" alt=""></figure>
                        <br><br>
                        <h5>Taoufik Taourirt</h5>
                        <a>Recherche Mori Tanaka pour un Bachelor Alternance</a>

                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px ;border: aliceblue;">
                        <figure><a href="https://www.linkedin.com/in/willy-meksavanh-69a348146/"><img src="https://media.licdn.com/dms/image/C4D03AQHgGLdQVSejJQ/profile-displayphoto-shrink_800_800/0?e=1564012800&v=beta&t=fOcA--51mkDfuWYbYnk_-0R7yBNVGxmLSBGrMuFH_A0" class="img-responsive" alt=""></figure>
                        <br><br>
                        <h5>Willy Meksavanh</h5>
                        <a>Graphiste Consultant Développeur</a>
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px;border: aliceblue;">
                        <figure><a href="https://www.linkedin.com/in/olivierhimmer/"><img src="https://media.licdn.com/dms/image/C5603AQHDNG3OgUZR2w/profile-displayphoto-shrink_800_800/0?e=1564012800&v=beta&t=BZS54b1ClvozO0F_JeUlWGP8M3GrZuUbSIaquZKwpKU" class="img-responsive" alt=""></figure>
                        <br><br>
                        <h5>Olivier Himmer</h5>
                        <a>Recherche l'inspecteur Lee pour un Bachelor Alternance</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>

{% endblock %}