{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 bg-primary">

        </div>
        <div class="col-md-12" style="background-color: rgba(200, 200, 200, 0.8)">
            {{ form_start(register_form) }}
            {{ form_widget(register_form) }}
            <input type="submit" name="register" value="S'enregistrer">
            {{ form_end(register_form) }}
        </div>
    </div>
</div>
{% endblock %}