{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<a href="{{ path('blog_index') }}"> Gestion des blogs...</a>
<br>
<a href="{{ path ('page_index') }}"> Gestion des pages </a>
<br>
<a href="{{ path ('user_index') }}"> Gestion des user </a>










{% endblock %}


