{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}




{% block body %}

<h1>Administration géneral</h1>

<a href="{{ path('blog_index') }}"> Gestion des blogs...</a>
<br>
    <h2> Gestion des pages </h2>
<a href="{{ path ('page_index') }}"> Gestion des pages </a>
<br>
    <h3>Gestion des utilisateurs</h3>
<a href="{{ path ('user_index') }}"> Gestion des user </a>



{% endblock %}


